In [1]:
student_id = "11093712"

student_mail = "matthew.crean@student.manchester.ac.uk"

# Coursework 1

This coursework test contains several Jupyter Notebook cells with the comment `# TODO`. This is where you type the code for your solutions. Do not alter any of the other cells. 

It is good practice to include markdown cells explaining your work, but in this test they won't be marked. 

Here are some tips:

* **Do not alter the names of the predefined variables and functions,** such as `sales`, `avgPrice`, etc. The values of these variables will inform the marking. Renaming them and failure to follow the problem description will result in loss of marks.

* **Do not hard-code any solution variables.** All problems must be solved by computer code using the data in the provided CSV file. For example, do *not* simply define a variable `sales = 1234` with a fixed value. Your Jupyter Notebook should produce results with a modified data file that has the same format but different numerical (or NaN) values.

* **Submit this test as a single .ipynb file using Blackboard.** You can simply keep the name `test1-2025.ipynb`. There is a basic testing code at the end that verifies some parts of the coursework.

   <span style="color:blue; font-weight:bold">Strict deadline: Monday, 3rd of May 2025, at 1pm</span>

## Note on independent work

You need to complete all coursework tests independently on your own, but you are allowed to use online resources and all course notes and exercise solutions. The course notes from chapters 1 to 3 contain all that is required to solve the below problems. You are not allowed to ask other humans for help. In particular, you are not allowed to send, give, or receive code or markdown content to/from classmates and others.

The University Guidelines for Academic Malpractice apply: http://documents.manchester.ac.uk/display.aspx?DocID=2870

**Important: Even if you are the originator of the work** (and not the one who copied), the University Guidelines require that you will be equally responsible for this case of academic malpractice and may lose all coursework marks (or even be assigned 0 marks for the course).

# Start of test

We will analyse data relating to UK houseprices. The dataset has been taken from the [Government's house price index website](https://www.gov.uk/government/publications/about-the-uk-house-price-index/about-the-uk-house-price-index). This website also contains a [*data table*](https://www.gov.uk/government/publications/about-the-uk-house-price-index/about-the-uk-house-price-index#data-tables) describing the column names of the dataset.

We first load all the required modules and the dataset `UK_houseprices.csv` into a data frame `df`.

**Important:** 

* The dataset `UK_houseprices.csv` has recently been added to the [_datasets.zip](../_datasets.zip) file. You may have to download it again.

* Ensure that `df` does not change throughout the whole notebook. Most exercises use `df` as a starting point to construct other data frames or series.

In [2]:
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)
warnings.simplefilter(action='ignore', category=DeprecationWarning)

import numpy as np
import pandas as pd
import seaborn as sns

df = pd.read_csv("_datasets/UK_houseprices.csv")
df.head()

,Date,RegionName,AveragePrice,SalesVolume,NewPrice,NewSalesVolume,OldPrice,OldSalesVolume,DetachedPrice,SemiDetachedPrice,TerracedPrice,FlatPrice,CashPrice,CashSalesVolume,MortgagePrice,MortgageSalesVolume,FTBPrice,FOOPrice
0,2013-01-01,Aberdeenshire,170639.7192,261.0,183969.0424,39.0,169309.4966,222.0,236804.1417,148347.9934,125092.0936,98809.76341,160099.2333,67.0,174150.5603,194.0,135678.8608,195129.4940
1,2013-02-01,Aberdeenshire,172926.8599,241.0,185247.9826,40.0,171650.3277,201.0,239929.4073,150423.2900,126677.1588,100074.84820,162097.2953,60.0,176541.3455,181.0,137448.5966,197788.7690
2,2013-03-01,Aberdeenshire,173254.1927,383.0,186403.4054,85.0,171972.1848,298.0,240684.3117,150720.7354,126643.1292,99944.46491,162327.7517,91.0,176906.2240,292.0,137539.5560,198277.9599
3,2013-04-01,Aberdeenshire,174269.6560,389.0,189231.7605,66.0,172918.5518,323.0,242471.1113,151160.3107,127367.7233,100507.71170,163270.3801,105.0,177946.5535,284.0,138262.1588,199497.4580
4,2013-05-01,Aberdeenshire,174656.0565,513.0,189857.2634,70.0,173294.6386,443.0,242134.2998,151657.2553,127958.7393,101801.47670,163790.2398,112.0,178278.7931,401.0,138914.7904,199701.3760

## Problem 1

Make a data frame called `sales` from `df` for just the columns *Date*, *RegionName*, *AveragePrice*, *SalesVolume*, *NewSalesVolume*, and *OldSalesVolume*. 

Create a series `avgPrice` that contains the average prices but without any of the NaN elements.

In [3]:
sales = df[ ["Date", "RegionName", "AveragePrice", "SalesVolume", "NewSalesVolume", "OldSalesVolume"] ]
avgPrice = sales["AveragePrice"].dropna()

## Problem 2

In the data frame `df`, the column *NewSalesVolume* corresponds to the number of newly build properties sold in a given month and region, and *OldSalesVolume* refers to exisiting properties. We would expect these to add up to the number of total sales in the column *SalesVolume*.

Compute an integer variable `mismatchCount` that corresponds to the number of rows in `df` for which *SalesVolume* deviates from the sum of *NewSalesVolume* and *OldSalesVolume* by more than 0.5.

Compute an array `mismatchRegions` that lists the unique regions for which a mismatch of counts occurred.

In [4]:
def salesvoldev(x):
    j = []
    for i in range(len(x["SalesVolume"])):
        if x["OldSalesVolume"][i] + x["NewSalesVolume"][i] - 0.5 > x["SalesVolume"][i] or x["OldSalesVolume"][i] + x["NewSalesVolume"][i] + 0.5 < x["SalesVolume"][i]:
            j.append(i)
    return j
mismatchCount = len(salesvoldev(df))
mismatchRegions = df["RegionName"].iloc[salesvoldev(df)].unique()

## Problem 3

Define a data frame `sales_clean` from `df` by removing all rows whose region name corresponds to either *United Kingdom*, *England*, *Scotland*, *Wales*, *Northern Ireland*. Also remove all rows that contain any NaN's.

In [5]:
def remove_ukeswni(x):
    j = []
    for i in range(len(df["RegionName"])):
        if df["RegionName"][i] == "UnitedKingdom" or df["RegionName"][i] == "England" or df["RegionName"][i] == "Scotland" or df["RegionName"][i] == "Wales" or df["RegionName"][i] == "Northern Ireland":
            j.append(i)
    return j
sales_clean = df.drop(remove_ukeswni(df), axis=0).dropna()

## Problem 4

Create a series called `soldPerRegion` from `df` listing, for each *RegionName*, the total number of sales (sum of *SalesVolume*). Note that *RegionName* should be the index of that series.

In [25]:
soldPerRegion = df.groupby("RegionName").sum()["SalesVolume"]

## Problem 5

We now conider only rows of `df` for the region *Greater Manchester*. Produce a series called `annualAvg` that, for each year, contains the average of *AveragePrice*. Note that the years should form the index of that series and they should be of integer data type.

In [7]:
yra = pd.concat([pd.to_datetime(df["Date"]).dt.year, df[["RegionName", "AveragePrice"]]], axis='columns')
yraM = yra[yra["RegionName"] == "Greater Manchester"]
annualAvg = yraM.groupby("Date")["AveragePrice"].sum()

## Problem 6

Consider only data which falls into the year 2023 in `df`. For that year, compute a series `detached2023` that, for each region, contains the median *DetachedPrice*, i.e., the median price of a detached house in 2023. This series may contain some NaNs. 

Now find all expensive regions in `detached2023` with a *DetachedPrice* above the $p=0.95$ quantile (i.e., 95th percentile), and list them in a series `detached2023_expensive`.

Note that *RegionName* should form the index of both series.

In [24]:
df_2023 = df[(df['Date'] >= '2023-01-01') & (df['Date'] < '2024-01-01')]
detached2023 = df_2023.groupby("RegionName")["DetachedPrice"].median()
detached2023_expensive = detached2023[detached2023 > float(detached2023.quantile([0.95]))]

## Problem 7

Following on from problem 6, write code that determines the largest value of $p\in [0,1]$ so that *Greater Manchester* is classed as an expensive region (using the 2023 median prices of detached houses, as before). Assign that value to the variable `p_gm`.

In [9]:
GMmed = detached2023["Greater Manchester"]
detached2023noNaN = detached2023.dropna()
def le_GMmed(x):
    j = 0
    for i in range(len(x)):
        if x[i] <= GMmed:
            j = j + 1
    return j
p_gm = le_GMmed(detached2023noNaN) / (len(detached2023noNaN) + 1)

## Problem 8

Create a new data frame `df_hpi` from `df` that has an additional column with name *HPI*. This should list the House Price Index (HPI) for each month and region. The HPI is a rescaled version of *AveragePrice* in a way that *HPI* takes the value 100 on the 1st of January 2015 in each region.

In [13]:
averageprice = df.copy().set_index("RegionName")["AveragePrice"]
averagepricejan12015 = df.copy()[df["Date"] == "2015-01-01"].set_index("RegionName")["AveragePrice"]
HPIlist = []
for j in range(len(averageprice)):
    for i in range(len(averagepricejan12015)):
        if averageprice.index[j] == averagepricejan12015.index[i]:
            HPIlist.append( (averageprice[j] * 100) / averagepricejan12015[i] )
df_hpi = pd.concat([df, pd.Series(HPIlist, name="HPI")], axis="columns")

# End of test

You can use the below tests to get an indication if part of your work returns the right data types.

In [11]:
try: 
    import re
    assert re.match(r'^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$', student_mail) and not 'firstname' in student_mail
    print("OKAY - student_mail appears to be valid")
except:
    print("WARN - student_mail could not be verified")

try: 
    df_reload = pd.read_csv("_datasets/UK_houseprices.csv")
    assert df_reload.compare(df).empty
    print("OKAY - dataframe df has not been modified")
except:
    print("WARN - dataframe df has been modified")

try: 
    assert type(sales) == pd.DataFrame
    print("OKAY - sales should be a pandas dataframe")
except:
    print("FAIL - sales should be a pandas dataframe")

try: 
    assert type(avgPrice) == pd.Series
    print("OKAY - avgPrice should be a pandas series")
except:
    print("FAIL - avgPrice should be a pandas series")

try: 
    assert isinstance(mismatchCount, (int, np.integer))
    print("OKAY - mismatchCount should be an int")
except:
    print("FAIL - mismatchCount should be an int")

try: 
    assert isinstance(mismatchRegions, (np.ndarray, list))
    print("OKAY - mismatchRegions should be an array")
except:
    print("FAIL - mismatchRegions should be an array")

try:
    student_mail; student_id; df; sales; avgPrice; mismatchCount; mismatchRegions; sales_clean; 
    soldPerRegion; annualAvg; detached2023; detached2023_expensive; p_gm; df_hpi; 
    print("OKAY - required variables exist in memory")
except:
    print("WARN - at least one of the required variables is not defined. check spelling?")

OKAY - student_mail appears to be valid
OKAY - dataframe df has not been modified
OKAY - sales should be a pandas dataframe
OKAY - avgPrice should be a pandas series
OKAY - mismatchCount should be an int
OKAY - mismatchRegions should be an array
OKAY - required variables exist in memory